h1, h2, h3 {
  color: cornflowerblue;
  text-shadow: 1px 1px black;
}

ul li{
color: yellow
}

.fancy {
  font-weight: bold;
  color: green;
  font-size: 20pt;
}

body {
  background-color: limegreen;
}